
.home{
    display: flex;
    background-color: white;
    
}
.first{
    width: 33vw;
    height: 500px;
    border: 1px solid red;
}
.middle{
    width: 33vw;
    border: 1px solid red;
    height: 500px;
}
.last{
    width: 33vw;
    border: 1px solid red;
    height: 500px;
}