
.home{
    display: flex;
    background-color: white;
    
    margin-top: -8px;
    /* margin-left: -2px; */

  position: fixed;
    
}
.first{
    width:310px;
    height: 300px;
    /* border: 1px solid red; */
}
.middle{
    width:590px ;
    border: 1px solid rgb(27, 24, 24);
    height: 630px;
    border: 1px solid red;


}
.last{
    /* width: 342px; */
    border: 1px solid red;
    /* height: 350px; */
}

