.searchbar input{
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 15px;
  
    
  }
  .searchbar{
      display: flex;
     background-color: whitesmoke;
     border-radius: 50px;
     width: 300px;
     margin-left: 20px;
     padding: 10px;
     height: 30px;
     align-items: center;
  gap: 20px;
  
  }
  div:focus{
      border: 1px solid blue;
  
  }