.sidebar{
    overflow: hidden;
    overflow-y: scroll;
    height: 100vh;
    width: 310px;
  
}
.icon{
    border: 0px ;
    border-radius: 30px;
    height: 50px;
    width: 143px;
    background-color: white;
    text-align: start; 
    margin-left: 30px;
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 20px;
    color: rgb(80, 79, 79);
    margin-top: -15px;
    gap: 18px;
    padding-left: 20px;
    cursor: pointer;
}
.icon:hover{
    background-color: rgb(219, 219, 219);
}
